 .u-section-1 {
  min-height: 581px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 581px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 94px 18px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 202px 20px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 49px;
  min-height: 16px;
  width: 273px;
  min-width: 174px;
  margin: 44px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-image-1 {
  min-height: 581px;
  background-image: url("images/python-lenguaje-de-programacion-1280x720.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 23px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 601px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: 115px;
  }

  .u-section-1 .u-image-1 {
    min-height: 601px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 522px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 82px;
  }

  .u-section-1 .u-image-1 {
    min-height: 522px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 966px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 343px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 194px;
  }

  .u-section-1 .u-image-1 {
    min-height: 783px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 820px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 276px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 637px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1665px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1288px;
  margin: 0 -74px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 516px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  letter-spacing: 6px;
  font-size: 3.75rem;
  text-transform: none;
  margin: 31px 465px 0 471px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  letter-spacing: 6px;
  text-align: left;
  font-size: 1.5rem;
  margin: 51px 799px 0 125px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.4167em;
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 31px 293px 0 79px;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-image-1 {
  width: 332px;
  height: 332px;
  background-image: url("images/cv5.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -349px 133px 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 516px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  letter-spacing: 6px;
  text-align: left;
  font-size: 1.5rem;
  margin: 38px 948px 0 125px;
}

.u-section-2 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
  font-size: 1.4167em;
}

.u-section-2 .u-text-5 {
  line-height: 2;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: left;
  margin: 31px 95px 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  letter-spacing: 6px;
  text-align: left;
  font-size: 1.5rem;
  margin: 38px 896px 0 51px;
}

.u-section-2 .u-icon-3 {
  color: rgb(0, 0, 0) !important;
  font-size: 1.5417em;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 6px;
  text-align: left;
  margin: 38px 835px 0 125px;
}

.u-section-2 .u-icon-4 {
  color: rgb(3, 1, 4) !important;
  font-size: 1.3em;
}

.u-section-2 .u-text-8 {
  line-height: 2;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 700;
  margin: 17px 17px 0 181px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 6px;
  text-align: left;
  margin: 38px 515px 0 125px;
}

.u-section-2 .u-icon-5 {
  font-size: 1.3em;
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-text-10 {
  line-height: 2;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 700;
  margin: 17px 17px 60px 181px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1377px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 377px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 291px;
    margin-left: 344px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 291px;
    margin-left: 344px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 29px;
    margin-right: 25px;
    margin-left: 393px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -301px;
    margin-left: 35px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 376px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 726px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 208px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 747px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 735px;
    margin-left: 25px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 415px;
    margin-left: 25px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 557px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 181px;
    margin-left: 263px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 181px;
    margin-left: 263px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 104px;
    margin-right: -82px;
    margin-left: 355px;
  }

  .u-section-2 .u-image-1 {
    width: 252px;
    height: 252px;
    margin-top: -440px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 506px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 116px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 527px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 220px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1165px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 91px;
    margin-left: 197px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -294px;
    margin-right: 176px;
    margin-left: 600px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 250px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -782px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 326px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 347px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 360px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1517px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 124px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -512px;
    margin-right: 0;
    margin-left: 378px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 468px;
    margin-left: 255px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -1352px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 126px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 147px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 160px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1045px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  letter-spacing: 6px;
  font-size: 3.75rem;
  text-transform: none;
  margin: 22px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  letter-spacing: 6px;
  text-align: left;
  font-size: 1.5rem;
  margin: 34px 0 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  font-size: 1.5417em;
}

.u-section-3 .u-list-1 {
  width: 1040px;
  margin: 22px auto 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 857px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 11px;
}

.u-section-3 .u-group-1 {
  width: 291px;
  min-height: 208px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 1px;
}

.u-section-3 .u-text-3 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-2 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 11px;
}

.u-section-3 .u-group-2 {
  width: 291px;
  min-height: 208px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 1px;
}

.u-section-3 .u-text-4 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-3 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  color: rgb(0, 0, 0) !important;
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 11px;
}

.u-section-3 .u-group-3 {
  width: 291px;
  min-height: 208px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 1px;
}

.u-section-3 .u-text-5 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-4 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 11px;
}

.u-section-3 .u-group-4 {
  width: 291px;
  min-height: 208px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 1px;
}

.u-section-3 .u-text-6 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-5 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  color: rgb(0, 0, 0) !important;
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 11px;
}

.u-section-3 .u-group-5 {
  width: 291px;
  min-height: 208px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 1px;
}

.u-section-3 .u-text-7 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-6 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  color: rgb(125, 156, 161) !important;
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-5 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 0 11px;
}

.u-section-3 .u-group-6 {
  width: 291px;
  min-height: 208px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-12 {
  padding: 0 1px;
}

.u-section-3 .u-text-8 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-7 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-6 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-container-layout-13 {
  padding: 0 11px;
}

.u-section-3 .u-group-7 {
  width: 291px;
  min-height: 208px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-14 {
  padding: 0 1px;
}

.u-section-3 .u-text-9 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-8 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-7 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-container-layout-15 {
  padding: 0 11px;
}

.u-section-3 .u-group-8 {
  width: 291px;
  min-height: 208px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-16 {
  padding: 0 1px;
}

.u-section-3 .u-text-10 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-9 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-8 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-container-layout-17 {
  padding: 0 11px;
}

.u-section-3 .u-group-9 {
  width: 291px;
  min-height: 234px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-18 {
  padding: 0 1px;
}

.u-section-3 .u-text-11 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-10 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-9 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  letter-spacing: 6px;
  text-align: left;
  font-size: 1.5rem;
  margin: -621px 915px 0 0;
}

.u-section-3 .u-icon-11 {
  font-size: 1.5834em;
  color: rgb(0, 0, 0) !important;
  width: 38px;
  height: 46px;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  letter-spacing: 6px;
  text-align: left;
  font-size: 1.5rem;
  margin: 239px 912px 60px 3px;
}

.u-section-3 .u-icon-13 {
  font-size: 1.5834em;
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1338px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 13px) calc(50% - 13px);
    min-height: 774px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-group-2 {
    width: 308px;
    min-height: 231px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-group-3 {
    width: 308px;
    min-height: 231px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-group-4 {
    width: 308px;
    min-height: 231px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-icon-6 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-icon-7 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-group-7 {
    width: 308px;
    min-height: 231px;
  }

  .u-section-3 .u-icon-8 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-group-8 {
    width: 308px;
    min-height: 231px;
  }

  .u-section-3 .u-icon-9 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-group-9 {
    width: 308px;
    min-height: 231px;
  }

  .u-section-3 .u-icon-10 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-text-12 {
    margin-top: -1319px;
    margin-right: 715px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 715px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1671px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1482px;
  }

  .u-section-3 .u-group-2 {
    width: 215px;
    min-height: 173px;
  }

  .u-section-3 .u-group-3 {
    width: 215px;
    min-height: 173px;
  }

  .u-section-3 .u-group-4 {
    width: 215px;
    min-height: 173px;
  }

  .u-section-3 .u-group-7 {
    width: 215px;
    min-height: 173px;
  }

  .u-section-3 .u-group-8 {
    width: 215px;
    min-height: 173px;
  }

  .u-section-3 .u-group-9 {
    width: 215px;
    min-height: 173px;
  }

  .u-section-3 .u-text-12 {
    margin-top: -1700px;
    margin-right: 495px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 495px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-4 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-7 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-8 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-3 .u-container-layout-16 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-9 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-3 .u-container-layout-18 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 315px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 315px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-2 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-3 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-4 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-7 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-8 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-3 .u-container-layout-17 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-9 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 115px;
  }

  .u-section-3 .u-text-13 {
    margin-right: 115px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 730px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  letter-spacing: 6px;
  font-size: 3.75rem;
  text-transform: none;
  width: 396px;
  margin: 0 auto;
}

.u-section-4 .u-list-1 {
  width: 868px;
  margin: 25px 102px 54px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 30px 30px;
  min-height: 579px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 158px;
  height: 158px;
  margin: 3px 30px 0 auto;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -131px auto 0 15px;
}

.u-section-4 .u-text-3 {
  margin: 36px 188px 0 19px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 158px;
  height: 158px;
  margin: 3px 30px 0 auto;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -131px auto 0 15px;
}

.u-section-4 .u-text-5 {
  margin: 36px 188px 0 19px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-image-3 {
  width: 158px;
  height: 158px;
  margin: 3px 30px 0 auto;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -131px auto 0 15px;
}

.u-section-4 .u-text-7 {
  margin: 36px 188px 0 19px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: 72px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 59px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 59px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 59px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 623px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 1px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 622px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 900;
  letter-spacing: 6px;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  width: 734px;
  margin: 12px auto 0;
}

.u-section-5 .u-group-1 {
  width: 511px;
  min-height: 115px;
  margin: 47px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 49px;
  min-height: 16px;
  width: 273px;
  min-width: 174px;
  margin: 0 auto;
}

.u-section-5 .u-icon-1 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-icon-2 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-icon-3 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  margin: 31px auto 0 398px;
}

.u-section-5 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: -36px auto 0 339px;
}

.u-section-5 .u-icon-5 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0 339px;
}

.u-section-5 .u-text-4 {
  font-size: 1.5rem;
  margin: -38px -105px 0 413px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 513px;
  }

  .u-section-5 .u-text-2 {
    width: 470px;
  }

  .u-section-5 .u-group-1 {
    width: 470px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 328px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 280px;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 280px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 363px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    width: 360px;
  }

  .u-section-5 .u-group-1 {
    width: 360px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 251px;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 20px;
    margin-left: 251px;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 251px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 308px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-5 .u-text-1 {
    font-weight: 700;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 377px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 377px;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 377px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 377px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 237px;
  }

  .u-section-5 .u-icon-4 {
    margin-left: 237px;
  }

  .u-section-5 .u-icon-5 {
    margin-left: 237px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 237px;
  }
}