 .u-section-1 {
  min-height: 547px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 547px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 17px 14px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  letter-spacing: normal;
  font-weight: normal;
  margin: 87px 97px 0 77px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 49px;
  min-height: 16px;
  width: 273px;
  min-width: 174px;
  margin: 19px auto 0 77px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-image-1 {
  min-height: 547px;
  background-image: url("images/python-lenguaje-de-programacion-1280x720.jpg");
  background-position: 49.69% 61.88%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 23px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 523px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 523px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 120px;
    margin-right: 0;
    margin-left: 42px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 56px;
    margin-left: 94px;
  }

  .u-section-1 .u-image-1 {
    background-position: 44.84% 50%;
    min-height: 523px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 333px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 98px;
    margin-right: 42px;
    margin-left: 4px;
  }

  .u-section-1 .u-image-1 {
    background-position: 61.7% 56.61%;
    min-height: 522px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 499px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 66px;
    margin-right: 254px;
    margin-left: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -144px;
    margin-right: 66px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 783px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 479px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 311px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 65px;
    margin-right: 4px;
    margin-left: 16px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 16px;
    margin-right: auto;
    margin-left: 84px;
  }

  .u-section-1 .u-image-1 {
    min-height: 301px;
    background-position: 22.22% 51.48%;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1831px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1288px;
  margin: 0 -74px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 516px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  letter-spacing: 6px;
  font-size: 3.75rem;
  text-transform: none;
  margin: 31px 465px 0 471px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  letter-spacing: 6px;
  text-align: left;
  font-size: 1.5rem;
  margin: 51px 799px 0 125px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.4167em;
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-image-1 {
  width: 332px;
  height: 332px;
  background-image: url("images/cv5.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -28px 133px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.3125rem;
  font-weight: 700;
  margin: -283px 261px 0 111px;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 696px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  letter-spacing: 6px;
  text-align: left;
  font-size: 1.5rem;
  margin: 38px 948px 0 125px;
}

.u-section-2 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
  font-size: 1.4167em;
}

.u-section-2 .u-text-5 {
  text-align: left;
  font-weight: 700;
  background-image: none;
  font-size: 1.4375rem;
  line-height: 1.4;
  margin: 18px 91px 0 111px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  letter-spacing: 6px;
  text-align: left;
  font-size: 1.5rem;
  margin: 38px 896px 0 51px;
}

.u-section-2 .u-icon-3 {
  color: rgb(0, 0, 0) !important;
  font-size: 1.5417em;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 6px;
  text-align: left;
  margin: 38px 835px 0 125px;
}

.u-section-2 .u-icon-4 {
  color: rgb(3, 1, 4) !important;
  font-size: 1.3em;
}

.u-section-2 .u-text-8 {
  line-height: 2;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 700;
  margin: 17px 17px 0 181px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 6px;
  text-align: left;
  margin: 38px 515px 0 125px;
}

.u-section-2 .u-icon-5 {
  font-size: 1.3em;
  color: rgb(0, 0, 0) !important;
}

.u-section-2 .u-text-10 {
  line-height: 2;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 700;
  margin: 17px 17px 60px 181px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1377px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 573px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 149px;
    margin-left: 344px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 35px;
    margin-right: 135px;
    margin-left: 415px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -31px;
    margin-right: auto;
    margin-left: 22px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -287px;
    margin-right: 25px;
    margin-left: 393px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 376px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 726px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 208px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 747px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 735px;
    margin-left: 25px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 415px;
    margin-left: 25px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 557px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 39px;
    margin-left: 263px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 25px;
    margin-left: 263px;
  }

  .u-section-2 .u-image-1 {
    width: 252px;
    height: 252px;
    margin-top: 18px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -236px;
    margin-right: 10px;
    margin-left: 263px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 506px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 116px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 527px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 220px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 751px;
  }

  .u-section-2 .u-text-1 {
    width: 343px;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 259px;
    margin-right: 24px;
    margin-left: 82px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -298px;
    margin-left: 127px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 63px;
    margin-right: -58px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 326px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 347px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 360px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2822px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -92px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 934px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    margin-top: 97px;
    margin-right: -13px;
    margin-left: 2px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 289px;
    margin-right: -33px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -326px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: 97px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1018px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 22px;
    margin-right: 126px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 34px;
    margin-right: 0;
    margin-bottom: -1px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 45px;
    margin-right: 147px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 44px;
    margin-right: 160px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    font-weight: normal;
    width: auto;
    margin-top: 23px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 821px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  letter-spacing: 6px;
  font-size: 3.75rem;
  text-transform: none;
  margin: 22px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  letter-spacing: 6px;
  text-align: left;
  font-size: 1.5rem;
  margin: 34px 0 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  font-size: 1.5417em;
}

.u-section-3 .u-list-1 {
  width: 1040px;
  margin: 22px auto 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 857px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 11px;
}

.u-section-3 .u-group-1 {
  width: 291px;
  min-height: 208px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 1px;
}

.u-section-3 .u-text-3 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-2 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 11px;
}

.u-section-3 .u-group-2 {
  width: 291px;
  min-height: 208px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 1px;
}

.u-section-3 .u-text-4 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-3 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  color: rgb(0, 0, 0) !important;
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 11px;
}

.u-section-3 .u-group-3 {
  width: 291px;
  min-height: 208px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 1px;
}

.u-section-3 .u-text-5 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-4 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 11px;
}

.u-section-3 .u-group-4 {
  width: 291px;
  min-height: 208px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 1px;
}

.u-section-3 .u-text-6 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-5 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  color: rgb(0, 0, 0) !important;
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 11px;
}

.u-section-3 .u-group-5 {
  width: 291px;
  min-height: 208px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 1px;
}

.u-section-3 .u-text-7 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-6 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  color: rgb(125, 156, 161) !important;
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-5 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 0 11px;
}

.u-section-3 .u-group-6 {
  width: 291px;
  min-height: 208px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-12 {
  padding: 0 1px;
}

.u-section-3 .u-text-8 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-7 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-6 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-container-layout-13 {
  padding: 0 11px;
}

.u-section-3 .u-group-7 {
  width: 291px;
  min-height: 208px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-14 {
  padding: 0 1px;
}

.u-section-3 .u-text-9 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-8 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-7 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-container-layout-15 {
  padding: 0 11px;
}

.u-section-3 .u-group-8 {
  width: 291px;
  min-height: 208px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-16 {
  padding: 0 1px;
}

.u-section-3 .u-text-10 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-9 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-8 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-container-layout-17 {
  padding: 0 11px;
}

.u-section-3 .u-group-9 {
  width: 291px;
  min-height: 234px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-18 {
  padding: 0 1px;
}

.u-section-3 .u-text-11 {
  text-align: left;
  width: 191px;
  font-size: 1.25rem;
  letter-spacing: 6px;
  background-image: none;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-3 .u-icon-10 {
  height: 105px;
  width: 105px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 15px 90px 0 auto;
}

.u-section-3 .u-image-9 {
  width: 147px;
  height: 15px;
  margin: 23px auto 0;
}

.u-section-3 .u-image-10 {
  width: 440px;
  height: 120px;
  margin: 0 -50px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  letter-spacing: 6px;
  text-align: left;
  font-size: 1.5rem;
  margin: -621px 915px 0 0;
}

.u-section-3 .u-icon-11 {
  font-size: 1.5834em;
  color: rgb(0, 0, 0) !important;
  width: 38px;
  height: 46px;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  letter-spacing: 6px;
  text-align: left;
  font-size: 1.5rem;
  margin: 239px 912px 60px 3px;
}

.u-section-3 .u-icon-13 {
  font-size: 1.5834em;
  color: rgb(0, 0, 0) !important;
}

.u-section-3 .u-image-11 {
  width: 440px;
  height: 106px;
  margin: 0 auto 0 -48px;
}

.u-section-3 .u-image-12 {
  width: 440px;
  height: 92px;
  margin: 81px -50px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 30px;
    margin-left: -30px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 13px) calc(50% - 13px);
    min-height: 774px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-group-2 {
    width: 308px;
    min-height: 231px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-group-3 {
    width: 308px;
    min-height: 231px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-group-4 {
    width: 308px;
    min-height: 231px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-icon-6 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-icon-7 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-group-7 {
    width: 308px;
    min-height: 231px;
  }

  .u-section-3 .u-icon-8 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-group-8 {
    width: 308px;
    min-height: 231px;
  }

  .u-section-3 .u-icon-9 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-group-9 {
    width: 308px;
    min-height: 231px;
  }

  .u-section-3 .u-icon-10 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-3 .u-image-10 {
    width: 1040px;
    height: 247px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 33px;
    margin-right: 746px;
    margin-left: -31px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin: 263px 746px 0 -31px;
  }

  .u-section-3 .u-image-11 {
    width: 1021px;
    height: 251px;
    margin-top: -308px;
    margin-left: -50px;
  }

  .u-section-3 .u-image-12 {
    width: 1040px;
    height: 218px;
    margin-top: 78px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    width: 698px;
    margin-top: 44px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1066px;
  }

  .u-section-3 .u-group-2 {
    width: 291px;
    min-height: 208px;
  }

  .u-section-3 .u-group-3 {
    width: 291px;
    min-height: 208px;
  }

  .u-section-3 .u-group-4 {
    width: 291px;
    min-height: 208px;
  }

  .u-section-3 .u-group-7 {
    width: 291px;
    min-height: 208px;
  }

  .u-section-3 .u-group-8 {
    width: 291px;
    min-height: 208px;
  }

  .u-section-3 .u-group-9 {
    width: 291px;
    min-height: 208px;
  }

  .u-section-3 .u-image-10 {
    height: 171px;
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-12 {
    margin-top: 22px;
    margin-right: 452px;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-top: 177px;
    margin-right: 482px;
    margin-left: 13px;
  }

  .u-section-3 .u-image-11 {
    height: 177px;
    margin-top: -222px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-12 {
    height: 151px;
    margin-top: 45px;
    margin-bottom: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-4 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-7 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-8 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-3 .u-container-layout-16 {
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-9 {
    width: 162px;
    min-height: 202px;
    margin-top: -63px;
  }

  .u-section-3 .u-container-layout-18 {
    padding-right: 10px;
  }

  .u-section-3 .u-image-10 {
    height: 145px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-12 {
    margin-top: 35px;
    margin-right: 250px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 147px;
    margin-right: 302px;
  }

  .u-section-3 .u-image-11 {
    height: 133px;
    margin-top: -178px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-12 {
    height: 113px;
    margin-top: 54px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 10px;
    margin-right: -54px;
    margin-left: -50px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 22px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-2 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-3 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-4 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-7 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-8 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-3 .u-container-layout-17 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-9 {
    width: 192px;
    margin-top: -71px;
  }

  .u-section-3 .u-image-10 {
    height: 101px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-12 {
    margin-top: 39px;
    margin-right: 115px;
  }

  .u-section-3 .u-text-13 {
    margin-top: 166px;
    margin-right: 115px;
    margin-left: 0;
  }

  .u-section-3 .u-image-11 {
    height: 107px;
    width: 380px;
    margin-top: -189px;
    margin-right: -50px;
    margin-left: auto;
  }

  .u-section-3 .u-image-12 {
    height: 100px;
    margin-top: 115px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1243px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  letter-spacing: 2px;
  margin: 315px auto 0;
}

.u-section-4 .u-slider-1 {
  width: 892px;
  min-height: 738px;
  margin: 59px auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 21px 52px;
}

.u-section-4 .u-image-1 {
  height: 390px;
  object-position: 50% 0%;
  width: 780px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 24px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-3 {
  margin: 8px 8px 0;
}

.u-section-4 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 28px 60px;
}

.u-section-4 .u-image-2 {
  height: 383px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 0%;
}

.u-section-4 .u-text-4 {
  margin: 29px auto 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-5 {
  margin: 11px 0 0;
}

.u-section-4 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 28px 60px;
}

.u-section-4 .u-image-3 {
  height: 383px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 3.19% 0%;
}

.u-section-4 .u-text-6 {
  margin: 29px auto 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-text-7 {
  text-align: center;
  margin: 20px auto 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 0;
  position: absolute;
  top: 180px;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  top: 180px;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 124px;
  }

  .u-section-4 .u-slider-1 {
    height: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-4 .u-slider-1 {
    width: 720px;
    min-height: 678px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-image-1 {
    height: 330px;
    width: 660px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-4 .u-slider-1 {
    width: 540px;
    min-height: 637px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 260px;
    width: 520px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-4 .u-image-2 {
    height: 218px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: -98px;
    margin-right: -98px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 603px;
    margin-top: -8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    height: 190px;
    width: 320px;
  }

  .u-section-4 .u-image-2 {
    height: 126px;
  }

  .u-section-4 .u-image-3 {
    height: 190px;
  }

  .u-section-4 .u-carousel-control-1 {
    top: 99px;
  }

  .u-section-4 .u-carousel-control-2 {
    top: 99px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 408px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 377px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 0 0;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 900;
  letter-spacing: 6px;
  margin: 26px auto 0;
}

.u-section-5 .u-group-1 {
  width: 440px;
  min-height: 114px;
  margin: 20px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 49px;
  min-height: 16px;
  width: 273px;
  min-width: 174px;
  margin: 36px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-icon-2 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-icon-3 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 23px auto 0 377px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: -38px -139px 0 448px;
}

.u-section-5 .u-icon-5 {
  height: 48px;
  width: 48px;
  margin: 26px auto 0 377px;
}

.u-section-5 .u-icon-6 {
  width: 34px;
  height: 34px;
  margin: -41px auto 0 449px;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  margin: -33px 376px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 4px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-group-1 {
    min-height: 111px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 34px;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 28px;
    margin-left: 271px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-right: -39px;
    margin-left: 349px;
  }

  .u-section-5 .u-icon-5 {
    margin-top: 44px;
    margin-left: 271px;
  }

  .u-section-5 .u-icon-6 {
    margin-left: 367px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -35px;
    margin-right: 244px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 456px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 20px;
    margin-left: 168px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -34px;
    margin-right: 3px;
    margin-left: 234px;
  }

  .u-section-5 .u-icon-5 {
    margin-top: 28px;
    margin-left: 168px;
  }

  .u-section-5 .u-icon-6 {
    margin-top: -36px;
    margin-left: 250px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -34px;
    margin-right: 140px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 192px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-5 .u-text-1 {
    font-weight: 700;
    width: auto;
    margin-top: -158px;
  }

  .u-section-5 .u-group-1 {
    min-height: 121px;
    margin-top: 36px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-top: 0;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 118px;
    margin-left: 42px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -38px;
    margin-right: 15px;
    margin-left: 106px;
  }

  .u-section-5 .u-icon-5 {
    margin-top: -126px;
    margin-left: 36px;
  }

  .u-section-5 .u-icon-6 {
    margin-top: -38px;
    margin-left: 146px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -32px;
    margin-right: 62px;
    margin-left: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 534px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 157px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 377px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -123px;
    margin-right: -20px;
    margin-left: 0;
  }

  .u-section-5 .u-group-1 {
    margin-top: 66px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 116px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -34px;
    margin-right: -66px;
    margin-left: 66px;
  }

  .u-section-5 .u-icon-5 {
    margin-top: -110px;
    margin-left: -21px;
  }

  .u-section-5 .u-icon-6 {
    margin-top: -36px;
    margin-left: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -34px;
    margin-right: -21px;
    margin-left: 70px;
  }
}